@charset "utf-8";
/* CSS Document */

#sidebar, #header, .logo2, input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary, #sidebar2 {
	background-color: hsl(241, 84%, 10%);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	box-shadow: inset 0 0 0 2px #179fc5;
	color: #179fc5 !important;
}
	
ul.pagination li > .page.active,
ul.pagination li.active > .page {
    background-color: #179fc5;
	color: white;
}